#App {
    position: absolute;
    width: 70%;
    background-color: aqua;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    padding: 2%;
}
#clear, #divide, #multiply, #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #subtract, #add, #equals, #decimal,#display{
    border: 2px solid aqua ;
    background-color: rgb(231, 166, 233);
    color: black;
}

#display{
    border: 2px solid aqua;
    background-color: white;
    color: black;
    font-size: large;
    text-align: end;
}

@media all and (min-width: 700px){
    #App {
        width: 50%;

    }
}